html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pemary-color: #fff;
  --body-color: #fff;
  --text-color: #161C2D;
  --font-nunito: 'Nunito Sans', sans-serif;
  --global-white-color: #fff;
  --white-color: #fff;
  --bg-color: rgba(255, 255, 255, 0.9);
}

.dark-color{
  --pemary-color: #161C2D;
  --body-color: #161C2D;
  --text-color: #fff;
  --global-white-color: #161c2d;
  --bg-color: rgba(22, 28, 45, 0.9);
  --global-color: #fff;
}

.light-color{
  --pemary-color: #fff;
  --body-color: #fff;
  --text-color: #161C2D;  
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  line-height: 1.15;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  font-family: var(--font-nunito);
  transition: all 0.4s ease;
  overflow-x: hidden;
}

header{
  height: 76px;
  box-shadow: rgb(65 62 101 / 10%) 0px 12px 34px -11px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: var(--body-color);
}

.header{
  padding: .5rem 1rem;
  align-items: center;
}

.logo{
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: -0.5px;
}

nav{
  position: relative;
  margin-left: auto;
}

.nav-link{
  transition: all 0.4s ease 0s;
  align-items: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--text-color) !important;
  
}

.nav-item{
  padding: 18px !important;

}

.downb{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.downb::after{
  content: "";
  display: inline-block;
  background-image: url('../img/down.svg');
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

#dark-light{
  top: 40%;
  right: -1020px;
  position: fixed;
  z-index: 111111;
}

.cev #dark-light{
  right: -1180px;
}

.dark-div{
  width: 162.27px;
  height: 106px;
  background-color: #495FEF;
  overflow: hidden;
}

.dark-btn{
  position: absolute;
  background-image: url('../img/down.svg');
  transform: rotateZ(-90deg);
  width: 50px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: top 1px left 12px;
  border: none;
  top: 9px;
  left: -20px;
  cursor: pointer;
}

.darks-btn1{
  border-radius: 20px 0 0 20px;
  border-color: transparent;
  font-size: 11px;
  font-weight: 700;
  height: 42px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 1.38px;
  text-transform: uppercase;
  cursor: pointer;
}

.darks-btn2{
  border-radius: 0 20px 20px 0;
  border-color: transparent;
  font-size: 11px;
  font-weight: 700;
  height: 42px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 1.38px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-active:active{
  background-color: #CED4E7;
}

.hero{
  padding-top: 250px;
  justify-content: space-between;
  position: relative;
}

.hero-btn{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.63px;
  text-transform: uppercase;
  padding: 23px 30px;
  box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
  border-radius: 50rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  user-select: none;
  transform: perspective(1px) translateZ(0px);
  position: relative;
  overflow: hidden;
  border: none;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 95, 239);
  transition: all 0.4s ease-out 0s;
  outline: none !important;
}

.hero-btn:hover{
  transform: translateY(-10px);
  box-shadow: rgb(3 3 3 / 14%) 0px 32px 54px;
}

.hero-btn::after{
  content: "";
  display: inline-block;
  background-image: url('../img/right.svg');
  width: 24px;
  height: 24px;
  fill: #fff;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: top -1px left 20px;
}

.hero-text{
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 40px;
}

.hero-title{
  font-size: 80px;
  line-height: 84px;
  margin-bottom: 40px;
  color: var(--text-color);
}

.hero-bg{
  background-image: url('../img/portrait-1-4db518f05f5503adba2bdd0803e1352e.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 445px;
  height: 478px;
  position: absolute;
  top: 180px;
  right: 0;
}
.gallery-section{
  padding-top: 100px;
}

.gallery-img__block{
  padding-bottom: 100px;
}

.gallery__sort-list{
  display: flex;
  padding-left: 0;
  margin-bottom: 2.5rem;
  margin-left: -1.75rem;
}

.gallery__sort-item{
  padding: 0 16px;
}

.gallery__sort-link{
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  color: var(--global-color);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem 1rem;
}

.gallery__sort-link.gallery__sort-link--active{
  color: rgb(73, 95, 239);
}

.left-block{
  padding-right: 15px;
  width: 50%;
}

.right-block{
  padding-left: 15px;
  width: 50%;
}

.img-box{
  width: 47%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.img-box:nth-child(2n+1){
  margin-right: 15px;
}

.img-box:nth-child(2n){
  margin-left: 15px;
}

.img-box__content{
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 1.25rem 1.875rem;
  background: var(--bg-color);
  border-radius: 8px;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 1;
  transform: translateY(135px);
}

.img-box:hover .img-box__content{
  transform: translateY(0);
  opacity: 1;
}


.img-box:nth-child(1),
.img-box:nth-child(2),
.img-box:nth-child(5),
.img-box:nth-child(6),
.right-block .img-box:nth-child(3),
.right-block .img-box:nth-child(4){
  min-height: 186px;
}
.img-box:nth-child(3),
.img-box:nth-child(4),
.right-block .img-box:nth-child(5),
.right-block .img-box:nth-child(6){
  min-height: 252px;
}
.img-box:nth-child(7),
.img-box:nth-child(8),
.right-block .img-box:nth-child(1),
.right-block .img-box:nth-child(2){
  min-height: 389px;
}

.left-side__img,
.right-side__img{
  width: 100%;
  height: 100%;
  z-index: 10;
}


.profession{
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--global-color);
  margin-bottom: 8px;
  opacity: 0.7;
}

.img-box__title{
  margin: 0;
}

.img-box__title-link{
  text-transform: capitalize;
  transition: all 0.3s ease-out 0s;
  color: var(--global-color);
  font-size: 21px;

}

.img-box__title-link:hover{
  color: #495fef;
}



/* /Gallery====================*/
/* ============================*/
/* Questio=====================*/
.question{
  padding-top: 100px;
  padding-bottom: 100px;
}

.question__inner{
  text-align: center;
}

.question__pretitle{
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--global-color);
  text-transform: uppercase;
  margin-bottom: 48px;
}

.question__pretitle::before{
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #56b381;
  display: inline-block;
  margin-right: 13px;
  position: relative;
  top: 1px;
}

.question__title{
  font-weight: 700;
  letter-spacing: -2.5px;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 0px;
  color: var(--global-color);
  font-size: 50px;
  line-height: 62px;
  max-width: 635px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.question__btn {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.63px;
  text-transform: uppercase;
  display: inline-block;
  padding: 23px 30px;
  box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
  border-radius: 50rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 179, 129);
  display: inline-flex;
  align-items: center;
  transition: all 0.4s ease-out 0s;
}

.question__btn:hover{
  transform: translateY(-10px);
  box-shadow: rgb(3 3 3 / 14%) 0px 32px 54px;
}


.question__btn i{
  font-size: 1.1875rem;
  padding-left: 1.25rem;
  transform: rotateY(180deg);
}